.inline-edit-group.inline-edit-coauthors {
	display: none;
}

.inline-edit-group.inline-edit-coauthors #coauthors-edit {
	margin-left: 5em;
}

#coauthorsdiv #coauthors-edit p {
	padding:0 6px;
}

#coauthorsdiv #coauthors-edit a {
	float:right;
	margin-right:4px;
	margin-top:-8px;
}

#coauthorsdiv .inside {
	padding:0;
}

#coauthors-list {
	width: 100%;
	padding: 0;
}
	#coauthors-list td {
		padding-left:0;
		padding-right:0;
		vertical-align: middle;
		background: #F9F9F9;
	}

	#coauthors-list .coauthor-row {
		overflow: hidden;
		margin-bottom:2px;
		padding:0px 2px 0 8px;
	}
		#coauthors-list span.coauthor-tag {
			width: 70%;
			display: block;
			padding: 6px 0 6px 8px;
			font-size: 13px;
			color: #555;
			background-color:#fbfbfb;
			cursor: text;
			float: left;
			border:1px solid #e0e0e0;
			border-radius: 4px;
			-webkit-border-radius:4px;
			-moz-border-radius:4px;
		}
			#coauthors-list span.coauthor-tag:hover {
				cursor: text;
				border:1px solid #999;
				color:#0073aa;
			}
			#coauthors-list .ui-state-highlight {
				border:2px dashed #555;
				height:31px;
				margin-top:3px;
				width:70%;
			}
			#coauthors-list .ui-sortable-helper .coauthor-tag {
				cursor: cursor:grabbing;
  				cursor:-moz-grabbing;
  				cursor:-webkit-grabbing;
			}
		#coauthors-list .coauthor-gravatar {
			float: right;
			height: 25px;
			margin-right: 5px;
			margin-top: -2.5px;
			width: 25px;
		}
		#coauthors-list .coauthor-suggest {
			margin: 5px 0;
			color: #888;
			width: 70%;
			float: left;
		}
			#coauthors-list .coauthor-suggest:focus {
				color: #333;
			}
		#coauthors-list .coauthors-author-options {
			overflow: hidden;
			padding: 0 0 0 5px;
		}

		#coauthors-list .coauthor-row:last-child {
			background-color:#f5f5f5;
			padding:14px 12px;
			border-top:1px solid #ddd;
			margin-top:14px;
			margin-bottom:0;
		}

		#coauthors-list .coauthor-row:last-child .coauthor-suggest {
			width:75%;
			margin:0 auto;
		}

		#coauthors-list .coauthor-row:last-child:before {
			content: "\f110";
			color:#82878c;
			font-family:'Dashicons';
			float:left;
			padding-top:5px;
			padding-right:10px;
			font-size:26px;
		}

			#coauthors-list .delete-coauthor {
				display: block;
				color:#a00;
				float: left;
				padding:5px;
				font-size:16px;
				line-height:16px;
				font-size:12px;
				text-align: left;
				width:30%;
				margin-top:5px;
			}
				#coauthors-list .delete-coauthor:hover {
					cursor: pointer;

				}

				#coauthors-list .dashicon:before {
					font-size:18px;
				}

				#coauthors-list span.delete-coauthor {
					min-width:64px;
					height:28px;
				}
	#coauthors-loading {
		margin: 10px 0px 5px 10px;
	}

#coauthors-readonly {
}
	#coauthors-readonly ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
		#coauthors-readonly ul li {
		}
		#coauthors-readonly ul li .avatar {
			float: left;
		}
		#coauthors-readonly ul li .coauthor-tag {
			display:block;
			padding: 5px 3px;
			margin-left: 30px;
			font-size: 13px;
		}
