/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

/* Default Layout */

.wp-block-co-authors-plus-image {
	margin-bottom: 0;
}

.wp-block-co-authors-plus-image :where(img) {
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
}

/* Inline Layout */

.wp-block-co-authors-plus-coauthors.is-layout-flow .wp-block-co-authors-plus-image :where(img) {
	vertical-align: middle;
}

/* Align wide, full */

.wp-block-co-authors-plus-image:is(.alignfull,.alignwide) :where(img) {
	width: 100%;
}

/* Align left, right, center */

.wp-block-co-authors-plus-image:is(.alignleft,.alignright) {
	display: table;
}

.wp-block-co-authors-plus-image.aligncenter {
	display: table;
	margin-inline: auto;
}
