/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

/* Default Layout */

.wp-block-cap-coauthor-featured-image {
	margin-bottom: 0;
}

.wp-block-cap-coauthor-featured-image :where(img) {
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
}

/* Inline Layout */

.wp-block-cap-coauthors.is-layout-cap-inline .wp-block-cap-coauthor-featured-image {
	display: inline;
}

.wp-block-cap-coauthors.is-layout-cap-inline .wp-block-cap-coauthor-featured-image :where(img) {
	vertical-align: middle;
}

/* Align wide, full */

.wp-block-cap-coauthor-featured-image:is(.alignfull,.alignwide) :where(img) {
	width: 100%;
}

/* Align left, right, center */

.wp-block-cap-coauthor-featured-image:is(.alignleft,.alignright,.aligncenter) {
	display: table;
}
