name: Integration Tests

on: [push]

jobs:
  test:
    name: WP ${{ matrix.wordpress }} on PHP ${{ matrix.php }}
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.allowed_failure }}

    env:
      WP_VERSION: ${{ matrix.wordpress }}

    strategy:
      matrix:
        include:
          # Check lowest supported WP version, with the lowest supported PHP.
          - wordpress: '6.4'
            php: '7.4'
            allowed_failure: false
          # Check latest WP with the highest supported PHP.
          - wordpress: '6.8'
            php: 'latest'
            allowed_failure: false
          # Check upcoming WP.
          - wordpress: 'master'
            php: 'latest'
            allowed_failure: true
          # Check upcoming PHP - only needed when a new version has been forked (typically Sep-Nov)
#          - wordpress: 'trunk'
#            php: 'nightly'
#            allowed_failure: true
      fail-fast: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install wordpress environment
        run: npm install -g @wordpress/env

      - name: Set up PHP ${{ matrix.php }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: ${{ matrix.extensions }}
          ini-values: ${{ matrix.ini-values }}
          coverage: ${{ matrix.coverage }}

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3
        with:
          composer-options: --ignore-platform-req=php+

      - name: Set up problem matchers for PHP
        run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

      - name: Set up problem matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Show PHP and PHPUnit version info
        run: |
          php --version
          ./vendor/bin/phpunit --version

      - name: Setup wp-env
        run: wp-env start
        env:
          WP_ENV_CORE: WordPress/WordPress#${{ matrix.wordpress }}

      - name: Run integration tests (single site)
        run: composer test-integration

      - name: Run integration tests (multisite)
        run: composer test-integration-ms
